@page "/settings"
@inject coinStack.Client.Services.IPortfolioService PortfolioService
@inject IToastService ToastService

<div class="container is-max-desktop">
    <AuthorizeView>
        <Authorized>
            <div class="box has-text-centered m-1 p-1">
                <h6 class="title is-6">You are logged in as user: @context.User.Identity.Name</h6>
            </div>
            <div class="box">
                <div class="dropdown @PortfolioDropdownActive" style="width:180px;">
                    <div class="dropdown-trigger">
                        <button class="button is-primary is-outlined" aria-haspopup="true" aria-controls="dropdown-menu3" @onclick="PortfolioToggler">
                            <span>Edit a Portfolio</span>
                            <span class="icon is-small" style="padding-top: 2px">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     version="1.1"
                                     width="15"
                                     height="15"
                                     viewBox="0 0 320 512">
                                    <path fill="#fb9215" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z" />
                                </svg>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                        <div class="dropdown-content" style="width:180px;">
                            @try
                            {
                                @foreach (UserPortfolio p in PortfolioService.Portfolios)
                                {
                                    <button href="#" class="dropdown-item" style="background-color: #272727" @onclick="() => ChoosePortfolio(p)">
                                        @p.Name @if (p.CurrentlySelected)
                                        {<span>*</span>}
                                    </button>
                                }
                            }
                            catch
                            {
                                <p>Loading...</p>
                            }
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <EditForm Model="@portfolio" OnValidSubmit="SaveEdits" autocomplete="off" Context="edit">
                    <DataAnnotationsValidator />
                    <div class="field">
                        <label for="Name">Portfolio Name</label>
                        <InputText id="name" @bind-Value="portfolio.Name" class="input is-primary" />
                        <ValidationMessage For="@(() => portfolio.Name)" />
                    </div>
                    <input type="checkbox" @bind="portfolio.CurrentlySelected" />&nbsp;Currently Selected Portfolio: @portfolio.CurrentlySelected
                    <br />
                    <br />
                    <button class="button is-primary is-outlined" type="submit">
                        Save Edits &ensp;
                        <svg aria-hidden="true" focusable="false" data-prefix="far"
                             data-icon="edit" class="svg-inline--fa fa-edit fa-w-18" role="img"
                             xmlns="http://www.w3.org/2000/svg"
                             height="15"
                             width="15"
                             viewBox="0 0 576 512">
                            <path fill="#fb9215" d="M402.3 344.9l32-32c5-5 13.7-1.5 13.7 5.7V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h273.5c7.1 0 10.7 8.6 5.7 13.7l-32 32c-1.5 1.5-3.5 2.3-5.7 2.3H48v352h352V350.5c0-2.1.8-4.1 2.3-5.6zm156.6-201.8L296.3 405.7l-90.4 10c-26.2 2.9-48.5-19.2-45.6-45.6l10-90.4L432.9 17.1c22.9-22.9 59.9-22.9 82.7 0l43.2 43.2c22.9 22.9 22.9 60 .1 82.8zM460.1 174L402 115.9 216.2 301.8l-7.3 65.3 65.3-7.3L460.1 174zm64.8-79.7l-43.2-43.2c-4.1-4.1-10.8-4.1-14.8 0L436 82l58.1 58.1 30.9-30.9c4-4.2 4-10.8-.1-14.9z"></path>
                        </svg>
                    </button>
                </EditForm>
                <br />
                <div class="box has-text-right">
                    <button class="button is-primary is-outlined" @onclick="DeletePortfolio">
                        Delete Portfolio &ensp;
                        <svg xmlns="http://www.w3.org/2000/svg"
                             version="1.1"
                             width="18"
                             height="18"
                             viewBox="0 0 24 24">
                            <path fill="#fb9215"
                                  d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M7,6H17V19H7V6M9,8V17H11V8H9M13,8V17H15V8H13Z" />
                        </svg>
                    </button>
                    &emsp;
                    <a class="button is-primary is-outlined" href="/addportfolio">
                        Add a new Portfolio &ensp;
                        <svg aria-hidden="true" focusable="false" data-prefix="fas"
                             data-icon="plus" class="svg-inline--fa fa-plus fa-w-14"
                             role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                             height="14"
                             width="14">
                            <path fill="#fb9215" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="box has-text-centered">
                <h6 class="title is-6">Please <NavLink href="login">Log in</NavLink> or <NavLink href="register">register</NavLink> a new account.</h6>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    private bool collapsePortfolioDropdown = true;
    private string PortfolioDropdownActive => collapsePortfolioDropdown ? "is-shadowless" : "is-shadowless is-active";
    UserPortfolio portfolio = new UserPortfolio();
    private int warning = 0;


    protected override async Task OnInitializedAsync()
    {
        await PortfolioService.GetPortfolios();
    }

    private void PortfolioToggler()
    {
        collapsePortfolioDropdown = !collapsePortfolioDropdown;
    }

    private void ChoosePortfolio(UserPortfolio p)
    {
        portfolio = p;
    }

    private async void SaveEdits()
    {
        var result = await PortfolioService.UpdatePortfolio(portfolio);
        if (!result.Success)
        {
            Console.WriteLine(result.Message);
        }
        await PortfolioService.GetPortfolios();
    }

    private async void DeletePortfolio()
    {
        if (warning == 0)
        {
            ToastService.ShowWarning("You are about to permanently delete this portfolio! Click delete again to confirm.");
            warning = 1;
        }
        else
        {
            await PortfolioService.DeletePortfolio(portfolio);
            warning = 0;
            await PortfolioService.GetPortfolios();
        }
    }
}
